*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heroImg{
    height: 700px;
}

.headings{
    padding: 1rem;
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
}

.heading{
    font-family: 'Vollkorn', serif;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(#ffffff, #525554);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sloganText{
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: black;

}

.places{
    padding-top:1rem;
     padding-bottom: 1rem;
}
