html {
    scroll-behavior: auto;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.herocontainer{
    height: 100vh;
}

.heroImg{
    height: 100vh;
}

.headings{
    padding: 1rem;
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
}

.heading{
    font-family: 'Vollkorn', serif;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(#ffffff, #525554);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sloganText{
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: black;

}

.places{
    padding-top:1rem;
     padding-bottom: 1rem;
     height: 100vh;
     background-image: url(./assets/placesbg.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     
}

.place{
    font-size: 8rem;
    color: black;
}

.hotels{
    padding-top:1rem;
     padding-bottom: 1rem;
     height: 100vh;
     background-image: url(./assets/hotelbg.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     
}

.hotel{
    font-size: 8rem;
}
